@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Serif:ital@1&family=Pangolin&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Poppins:wght@200;400&display=swap');
*{
    box-sizing: border-box;
    margin: 0px 0px 10px;
    padding: 0;
}

.alert {
    color: red;
    font-weight: bold;
}

.tituloempleado{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-family: "Pathway Extreme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:"wdth" 100;
}


.prueba label{
    font-family: "Pathway Extreme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:"wdth" 200;
    font-weight: 500;  
    
}

.registrar {
    position: absolute;
    top: -10px;

}

.was-validated .form-control:valid {
    border-color: #28a745; /* Verde */
    }
.was-validated .form-control:invalid {
    border-color: #dc3545; /* Rojo */
    }
.was-validated .form-control:invalid ~ .invalid-feedback {
    display: block; /* Muestra el mensaje de error */
    }


    .contenedorfoto {
        position: relative;
        margin-left: 1100px;
    }
    
    






  
