@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Noto+Serif:ital@1&family=Pangolin&family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0px 0px 10px;
    padding: 0;
}


p {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
    font-family: "Pathway Extreme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings: "wdth" 100;

}




.tituloempleado {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    font-family: "Pathway Extreme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


.prueba label {
    font-family: "Pathway Extreme", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings: "wdth" 200;
    font-weight: 500;

}

.registrar {
    position: absolute;
    top: -10px;

}

.was-validated .form-control:valid {
    border-color: #28a745;
    /* Verde */
}

.was-validated .form-control:invalid {
    border-color: #dc3545;
    /* Rojo */
}

.was-validated .form-control:invalid~.invalid-feedback {
    display: block;
    /* Muestra el mensaje de error */
}


.contenedorfoto {
    position: relative;
    margin-left: 580px;
}

#fileInput {
    width: 300px;  
    height: 30px; 
    padding: 5px; 
    font-size: 14px;  
    position: relative;
    margin-left: 350px;
}



.circle-container {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ddd;
    position: relative;
    
}

.circle-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    
}

.foto{
    
    position: relative;
    margin-left: 480px;
}

.fas {
    width: 100%;
    height: 700%;
}




